# Node modules
**/node_modules/

# Build artifacts
**/build/
**/dist/

# Cache folders
**/.cache/
**/.parcel-cache/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency lockfiles (optional to ignore in monorepo setups)
# package-lock.json
# yarn.lock

# Environment variables


# Editor and system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Optional backup folders
**/kings-frontend-backup/

# Miscellaneous
*.pack
*.zip
*.tar.gz
